# Practice Python coding
## Analysis of rental prices using Zillow pricing dataset from Kaggle
### Link provided below:

The following are Python codes to install the packages needed for this work

In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import datetime
from dateutil.relativedelta import *
from ipywidgets import interact
plt.style.use('seaborn-colorblind')

# This makes sure that graphs render in your notebook.
%matplotlib inline

In [2]:
zrent = pd.read_csv('Zillow_Pricing_Data.csv')

In [ ]:
zrent.head(10)

In [3]:
zrent = zrent.melt(id_vars=['City Code', 'City','Metro','County','State','Population Rank'], var_name='date')

In [ ]:
zrent.sort_values(['State', 'City', 'Metro', 'County', 'date'])

In [4]:
zrent['month'] = zrent['date'].str[:3]
zrent['year'] = zrent['date'].str[4:6]
zrent = zrent.rename(columns={"value": "median_price"})

In [5]:
zrent['year'] = '20' + zrent['year'].astype(str)

In [6]:
zrent['MoYr'] = zrent['month'] + ' ' + zrent['year']

In [7]:
zrent['date'] =  pd.to_datetime(zrent['MoYr'])

In [8]:
zrent = zrent.drop(columns=['MoYr'])

In [9]:
zrent = zrent.sort_values(['State', 'City', 'Metro', 'County', 'date'])

In [10]:
zrent.set_index('date', inplace=True)

In [ ]:
zrent[(zrent.State == 'DC')].median_price.plot();
#deaths.deaths.plot(figsize=(16,8));

In [ ]:
!python -m pip install plotly

In [11]:
import plotly
import plotly.plotly as py
import plotly.graph_objs as go

In [12]:
from plotly import __version__
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
#print __version__ # requires version >= 1.9.0

In [13]:
init_notebook_mode(connected=True)

In [ ]:
plotly.offline.init_notebook_mode(connected=True)

In [ ]:
iplot([{"x": [1, 2, 3], "y": [3, 1, 6]}])

In [ ]:
# Create a trace
x = zrent.groupby(['State','City','year']).median_price.mean()
x = x.to_frame().reset_index()
x = x[(x.State == "CA") & (x.year == "2016")]
x = x.median_price

y = zrent.groupby(['State','City','year']).median_price.mean()
y = y.to_frame().reset_index()
y = y[(y.State == "CA") & (y.year == "2015")]
y = y.median_price

trace = go.Scatter(
    x = x.values,
    y = y.values,
    mode = "markers"
)

data=[trace]
layout=go.Layout(title="First Plot", xaxis={'title':'California Rental Prices in 2016'}, yaxis={'title':'California Rental Prices in 2015'})
figure=go.Figure(data=data,layout=layout)

# Plot and embed in ipython notebook!
iplot(figure, filename='basic-scatter')

In [14]:
az_pop = pd.read_csv('Arizona_Populations.csv')
az_pop.head()

,City,State,POPESTIMATE2010,POPESTIMATE2011,POPESTIMATE2012,POPESTIMATE2013,POPESTIMATE2014,POPESTIMATE2015,POPESTIMATE2016,POPESTIMATE2017
0,Arizona,AZ,6407002,6465488,6544211,6616124,6706435,6802262,6908642,7016270
1,Apache Junction,AZ,35935,35695,36090,36633,37468,38380,39517,40538
2,Avondale,AZ,76220,77145,78525,79451,80307,81457,82716,84025
3,Benson,AZ,5078,5146,5127,5032,4942,4891,4853,4837
4,Bisbee,AZ,5612,5584,5525,5373,5308,5198,5210,5192

In [19]:
x = zrent.groupby(['State','City','year']).median_price.mean()
x = x.to_frame().reset_index()
x = x[(x.State == "AZ") & (x.year == "2016")]
x = x.rename(columns = {'median_price':'price_2016'})
x = x.drop(columns = ['year'])
y = zrent.groupby(['State','City','year']).median_price.mean()
y = y.to_frame().reset_index()
y = y[(y.State == "AZ") & (y.year == "2015")]
y = y.rename(columns = {'median_price':'price_2015'})
y = y.drop(columns = ['year'])
data = pd.merge(x, y, how = 'left', left_on=['City','State'], right_on = ['City','State'])
data = pd.merge(az_pop,data, how='left', left_on=['City','State'], right_on = ['City','State'])
data = data.dropna()
data = data.drop(columns=['POPESTIMATE2010','POPESTIMATE2011','POPESTIMATE2012','POPESTIMATE2013','POPESTIMATE2014','POPESTIMATE2017','State'])
data = data.rename(columns = {'POPESTIMATE2015':'population_2015','POPESTIMATE2016':'population_2016'})
data

,City,population_2015,population_2016,price_2016,price_2015
1,Apache Junction,38380,39517,1037.583333,967.083333
2,Avondale,81457,82716,1184.583333,1132.500000
3,Benson,4891,4853,835.750000,876.500000
4,Bisbee,5198,5210,769.833333,799.166667
5,Buckeye,61636,64639,1193.833333,1119.416667
6,Bullhead City,39784,39963,1001.000000,1000.666667
7,Camp Verde,11111,11180,1257.916667,1222.333333
8,Carefree,3662,3732,3757.583333,3600.833333
9,Casa Grande,52400,53960,966.916667,914.416667
10,Cave Creek,5465,5546,2729.666667,2672.000000
11,Chandler,243681,247838,1450.166667,1381.166667
12,Chino Valley,11036,11190,1386.833333,1324.583333
13,Clarkdale,4183,4245,1360.083333,1298.166667
16,Coolidge,12177,12449,857.416667,848.416667
17,Cottonwood,11590,11867,1198.583333,1145.916667
18,Dewey-Humboldt,3972,4027,1387.166667,1311.583333
19,Douglas,16653,16551,758.000000,784.333333
22,El Mirage,34535,34942,1074.583333,984.583333
23,Eloy,17798,17325,795.750000,786.250000
24,Flagstaff,69895,71060,1757.916667,1614.583333
25,Florence,26381,25809,1028.500000,966.666667
26,Fountain Hills,24117,24364,1825.916667,1821.833333
28,Gila Bend,2042,2059,1030.583333,939.916667
29,Gilbert,232399,237135,1515.916667,1467.500000
30,Glendale,241800,244168,1227.916667,1174.083333
31,Globe,7315,7336,1052.166667,980.583333
32,Goodyear,74817,77411,1382.666667,1318.500000
33,Guadalupe,6252,6322,1079.583333,1003.583333
35,Holbrook,4983,5016,879.000000,853.000000
36,Huachuca City,1755,1737,798.500000,841.166667
...,...,...,...,...,...
178,Oro Valley,43223,43567,1418.666667,1360.833333
179,Sahuarita,28163,28694,1166.583333,1152.833333
180,South Tucson,5614,5624,822.750000,821.583333
181,Tucson,529880,531547,1047.416667,1032.166667
184,Apache Junction,38068,39202,1037.583333,967.083333
185,Casa Grande,52400,53960,966.916667,914.416667
186,Coolidge,12177,12449,857.416667,848.416667
187,Eloy,17798,17325,795.750000,786.250000
188,Florence,26381,25809,1028.500000,966.666667
190,Kearny,2007,2053,833.500000,852.750000
192,Marana,0,0,1248.083333,1208.250000
193,Maricopa,46109,46906,1055.000000,983.833333
194,Queen Creek,453,466,1202.416667,1165.666667
195,Superior,2940,3008,857.500000,852.500000
199,Nogales,20150,20045,962.750000,882.500000
200,Patagonia,886,880,1259.416667,1280.250000
203,Camp Verde,11111,11180,1257.916667,1222.333333
204,Chino Valley,11036,11190,1386.833333,1324.583333
205,Clarkdale,4183,4245,1360.083333,1298.166667
206,Cottonwood,11590,11867,1198.583333,1145.916667
207,Dewey-Humboldt,3972,4027,1387.166667,1311.583333
209,Peoria,0,0,1353.750000,1289.333333
210,Prescott,41399,42264,1547.750000,1475.416667
211,Prescott Valley,41914,42908,1288.750000,1238.833333
212,Sedona,7377,7456,1991.583333,1927.416667
213,Wickenburg,89,202,1384.916667,1320.000000
216,San Luis,31476,32024,848.333333,845.666667
217,Somerton,15443,15721,852.833333,865.416667
218,Wellton,2926,2953,860.166667,887.583333
219,Yuma,93405,94431,943.916667,965.583333

In [ ]:
data.describe()

In [ ]:
l= []
y= []
N= 221
c= ['hsl('+str(h)+',50%'+',50%)' for h in np.linspace(0, 221, N)]
for i in range(int(N)):
    y.append((2000+i))
    trace0= go.Scatter(
        x= data['price_2015'],
        y= data['POPESTIMATE2015'],
        mode= 'markers',
        marker= dict(size= 14,
                    line= dict(width=1),
                    color= c[i],
                    opacity= 0.3
                   ),name= y[i],
        text= data['City']) # The hover text goes here... 
    l.append(trace0);

In [ ]:
layout= go.Layout(
    title= 'Arizona Rental Prices and Population(2015)',
    hovermode= 'closest',
    xaxis= dict(
        title= 'Average Rent in 2015',
        ticklen= 5,
        zeroline= False,
        gridwidth= 2,
    ),
    yaxis=dict(
        title= 'City Population Estimate for 2015',
        ticklen= 5,
        gridwidth= 2,
    ),
    showlegend= False
)

In [ ]:
fig= go.Figure(data=l, layout=layout)
iplot(fig)

In [ ]:
#!conda update python

In [ ]:
l= []
y= []
#data= pd.read_csv("https://raw.githubusercontent.com/plotly/datasets/master/2014_usa_states.csv")
# Setting colors for plot.
N= 53
c= ['hsl('+str(h)+',50%'+',50%)' for h in np.linspace(0, 360, N)]

In [ ]:
for i in range(int(N)):
    y.append((2000+i))
    trace0= go.Scatter(
        x= data['Rank'],
        y= data['Population']+(i*1000000),
        mode= 'markers',
        marker= dict(size= 14,
                    line= dict(width=1),
                    color= c[i],
                    opacity= 0.3
                   ),name= y[i],
        text= data['State']) # The hover text goes here... 
    l.append(trace0);

layout= go.Layout(
    title= 'Stats of USA States',
    hovermode= 'closest',
    xaxis= dict(
        title= 'Population',
        ticklen= 5,
        zeroline= False,
        gridwidth= 2,
    ),
    yaxis=dict(
        title= 'Rank',
        ticklen= 5,
        gridwidth= 2,
    ),
    showlegend= False
)

In [ ]:
fig= go.Figure(data=l, layout=layout)
iplot(fig)

In [ ]:
x = zrent[(zrent.State = 'CA') & (zrent.year = 2014)].median_price
x = x.to_frame().reset_index()
x = x.drop(columns = ['date'])
x = x.median_price
x.head()
x.dtype

In [ ]:
x = zrent.groupby(['State','City','year']).median_price.mean()
x = x.to_frame().reset_index()
x = x[(x.State == "CA") & (x.year == "2016")]
x = x.median_price
x= x.values
x
#age = age.to_frame().reset_index()
#x = zrent[(zrent.State == 'CA') & (zrent.year == "2014")][['City','median_price']].median_price.mean()

In [ ]:
N = 50
x = np.random.randn(N)
x