# Practice Python coding
## Analysis of rental prices using Zillow pricing dataset from Kaggle
### Link provided below:

The following are Python codes to install the packages needed for this work

In [1]:
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt
import datetime
from dateutil.relativedelta import *
from ipywidgets import interact
plt.style.use('seaborn-colorblind')

# This makes sure that graphs render in your notebook.
%matplotlib inline

In [2]:
zrent = pd.read_csv('Zillow_Pricing_Data.csv')

In [5]:
zrent.head(10)

,City Code,City,Metro,County,State,Population Rank,Nov-10,Dec-10,Jan-11,Feb-11,...,Apr-16,May-16,Jun-16,Jul-16,Aug-16,Sep-16,Oct-16,Nov-16,Dec-16,Jan-17
0,6181,New York,New York,Queens,NY,1,NaN,NaN,NaN,NaN,...,2334,2339,2345,2344,2336,2324,2318,2321,2321,2322
1,12447,Los Angeles,Los Angeles,Los Angeles,CA,2,2184.0,2184.0,2183.0,2188.0,...,2637,2662,2687,2704,2716,2723,2731,2740,2748,2753
2,17426,Chicago,Chicago,Cook,IL,3,1563.0,1555.0,1547.0,1537.0,...,1684,1686,1687,1685,1681,1675,1668,1656,1644,1632
3,39051,Houston,Houston,Harris,TX,4,1198.0,1199.0,1199.0,1200.0,...,1444,1446,1446,1443,1440,1438,1437,1437,1435,1430
4,13271,Philadelphia,Philadelphia,Philadelphia,PA,5,1092.0,1099.0,1094.0,1087.0,...,1206,1211,1218,1222,1223,1220,1216,1211,1209,1212
5,40326,Phoenix,Phoenix,Maricopa,AZ,6,1087.0,1080.0,1071.0,1067.0,...,1228,1236,1240,1240,1238,1238,1239,1241,1244,1247
6,18959,Las Vegas,Las Vegas,Clark,NV,7,1188.0,1183.0,1178.0,1177.0,...,1222,1225,1227,1227,1227,1228,1230,1234,1237,1239
7,6915,San Antonio,San Antonio,Bexar,TX,8,1057.0,1043.0,1037.0,1032.0,...,1244,1245,1245,1241,1236,1234,1235,1239,1245,1250
8,54296,San Diego,San Diego,San Diego,CA,9,2070.0,2059.0,2043.0,2030.0,...,2414,2428,2438,2442,2441,2442,2449,2457,2465,2469
9,38128,Dallas,Dallas-Fort Worth,Dallas,TX,10,1114.0,1135.0,1156.0,1159.0,...,1338,1347,1353,1358,1364,1370,1377,1385,1389,1391

In [7]:
zrent = zrent.melt(id_vars=['City Code', 'City','Metro','County','State','Population Rank'], var_name='date')

In [13]:
zrent.sort_values(['State', 'City', 'Metro', 'County', 'date'])

,City Code,City,Metro,County,State,Population Rank,date,value
77859,28124,Anchor Point,NaN,Kenai Peninsula,AK,12205,Apr-11,1328.0
235431,28124,Anchor Point,NaN,Kenai Peninsula,AK,12205,Apr-12,1224.0
393003,28124,Anchor Point,NaN,Kenai Peninsula,AK,12205,Apr-13,1194.0
550575,28124,Anchor Point,NaN,Kenai Peninsula,AK,12205,Apr-14,1141.0
708147,28124,Anchor Point,NaN,Kenai Peninsula,AK,12205,Apr-15,1284.0
865719,28124,Anchor Point,NaN,Kenai Peninsula,AK,12205,Apr-16,1350.0
130383,28124,Anchor Point,NaN,Kenai Peninsula,AK,12205,Aug-11,1360.0
287955,28124,Anchor Point,NaN,Kenai Peninsula,AK,12205,Aug-12,1197.0
445527,28124,Anchor Point,NaN,Kenai Peninsula,AK,12205,Aug-13,1137.0
603099,28124,Anchor Point,NaN,Kenai Peninsula,AK,12205,Aug-14,1057.0
760671,28124,Anchor Point,NaN,Kenai Peninsula,AK,12205,Aug-15,1397.0
918243,28124,Anchor Point,NaN,Kenai Peninsula,AK,12205,Aug-16,1385.0
25335,28124,Anchor Point,NaN,Kenai Peninsula,AK,12205,Dec-10,NaN
182907,28124,Anchor Point,NaN,Kenai Peninsula,AK,12205,Dec-11,1216.0
340479,28124,Anchor Point,NaN,Kenai Peninsula,AK,12205,Dec-12,1210.0
498051,28124,Anchor Point,NaN,Kenai Peninsula,AK,12205,Dec-13,1179.0
655623,28124,Anchor Point,NaN,Kenai Peninsula,AK,12205,Dec-14,1220.0
813195,28124,Anchor Point,NaN,Kenai Peninsula,AK,12205,Dec-15,1341.0
970767,28124,Anchor Point,NaN,Kenai Peninsula,AK,12205,Dec-16,1329.0
51597,28124,Anchor Point,NaN,Kenai Peninsula,AK,12205,Feb-11,NaN
209169,28124,Anchor Point,NaN,Kenai Peninsula,AK,12205,Feb-12,1175.0
366741,28124,Anchor Point,NaN,Kenai Peninsula,AK,12205,Feb-13,1207.0
524313,28124,Anchor Point,NaN,Kenai Peninsula,AK,12205,Feb-14,1202.0
681885,28124,Anchor Point,NaN,Kenai Peninsula,AK,12205,Feb-15,1257.0
839457,28124,Anchor Point,NaN,Kenai Peninsula,AK,12205,Feb-16,1318.0
38466,28124,Anchor Point,NaN,Kenai Peninsula,AK,12205,Jan-11,NaN
196038,28124,Anchor Point,NaN,Kenai Peninsula,AK,12205,Jan-12,1181.0
353610,28124,Anchor Point,NaN,Kenai Peninsula,AK,12205,Jan-13,1215.0
511182,28124,Anchor Point,NaN,Kenai Peninsula,AK,12205,Jan-14,1201.0
668754,28124,Anchor Point,NaN,Kenai Peninsula,AK,12205,Jan-15,1248.0
...,...,...,...,...,...,...,...,...
215311,23322,Worland,NaN,Washakie,WY,5216,Mar-12,856.0
372883,23322,Worland,NaN,Washakie,WY,5216,Mar-13,1037.0
530455,23322,Worland,NaN,Washakie,WY,5216,Mar-14,982.0
688027,23322,Worland,NaN,Washakie,WY,5216,Mar-15,1152.0
845599,23322,Worland,NaN,Washakie,WY,5216,Mar-16,1130.0
84001,23322,Worland,NaN,Washakie,WY,5216,May-11,NaN
241573,23322,Worland,NaN,Washakie,WY,5216,May-12,914.0
399145,23322,Worland,NaN,Washakie,WY,5216,May-13,1062.0
556717,23322,Worland,NaN,Washakie,WY,5216,May-14,924.0
714289,23322,Worland,NaN,Washakie,WY,5216,May-15,1178.0
871861,23322,Worland,NaN,Washakie,WY,5216,May-16,1103.0
5215,23322,Worland,NaN,Washakie,WY,5216,Nov-10,NaN
162787,23322,Worland,NaN,Washakie,WY,5216,Nov-11,824.0
320359,23322,Worland,NaN,Washakie,WY,5216,Nov-12,1045.0
477931,23322,Worland,NaN,Washakie,WY,5216,Nov-13,1069.0
635503,23322,Worland,NaN,Washakie,WY,5216,Nov-14,1093.0
793075,23322,Worland,NaN,Washakie,WY,5216,Nov-15,1074.0
950647,23322,Worland,NaN,Washakie,WY,5216,Nov-16,910.0
149656,23322,Worland,NaN,Washakie,WY,5216,Oct-11,795.0
307228,23322,Worland,NaN,Washakie,WY,5216,Oct-12,1042.0
464800,23322,Worland,NaN,Washakie,WY,5216,Oct-13,1086.0
622372,23322,Worland,NaN,Washakie,WY,5216,Oct-14,1069.0
779944,23322,Worland,NaN,Washakie,WY,5216,Oct-15,1077.0
937516,23322,Worland,NaN,Washakie,WY,5216,Oct-16,933.0
136525,23322,Worland,NaN,Washakie,WY,5216,Sep-11,NaN
294097,23322,Worland,NaN,Washakie,WY,5216,Sep-12,1003.0
451669,23322,Worland,NaN,Washakie,WY,5216,Sep-13,1097.0
609241,23322,Worland,NaN,Washakie,WY,5216,Sep-14,1028.0
766813,23322,Worland,NaN,Washakie,WY,5216,Sep-15,1098.0
924385,23322,Worland,NaN,Washakie,WY,5216,Sep-16,972.0

In [81]:
zrent['month'] = zrent['date'].str[:3]
zrent['year'] = zrent['date'].str[4:6]
zrent = zrent.rename(columns={"value": "median_price"})

In [96]:
zrent['year'] = '20' + zrent['year'].astype(str)

In [98]:
zrent['MoYr'] = zrent['month'] + ' ' + zrent['year']

In [101]:
zrent['date'] =  pd.to_datetime(zrent['MoYr'])

In [105]:
zrent = zrent.drop(columns=['MoYr'])

In [106]:
zrent = zrent.sort_values(['State', 'City', 'Metro', 'County', 'date'])

In [112]:
#zrent[(zrent.State == 'DC')]

,City Code,City,Metro,County,State,Population Rank,date,median_price,year,month
25,41568,Washington,Washington,District of Columbia,DC,26,2010-11-01,2174.0,2010,Nov
13156,41568,Washington,Washington,District of Columbia,DC,26,2010-12-01,2203.0,2010,Dec
26287,41568,Washington,Washington,District of Columbia,DC,26,2011-01-01,2241.0,2011,Jan
39418,41568,Washington,Washington,District of Columbia,DC,26,2011-02-01,2276.0,2011,Feb
52549,41568,Washington,Washington,District of Columbia,DC,26,2011-03-01,2303.0,2011,Mar
65680,41568,Washington,Washington,District of Columbia,DC,26,2011-04-01,2320.0,2011,Apr
78811,41568,Washington,Washington,District of Columbia,DC,26,2011-05-01,2323.0,2011,May
91942,41568,Washington,Washington,District of Columbia,DC,26,2011-06-01,2318.0,2011,Jun
105073,41568,Washington,Washington,District of Columbia,DC,26,2011-07-01,2318.0,2011,Jul
118204,41568,Washington,Washington,District of Columbia,DC,26,2011-08-01,2322.0,2011,Aug
131335,41568,Washington,Washington,District of Columbia,DC,26,2011-09-01,2328.0,2011,Sep
144466,41568,Washington,Washington,District of Columbia,DC,26,2011-10-01,2328.0,2011,Oct
157597,41568,Washington,Washington,District of Columbia,DC,26,2011-11-01,2339.0,2011,Nov
170728,41568,Washington,Washington,District of Columbia,DC,26,2011-12-01,2335.0,2011,Dec
183859,41568,Washington,Washington,District of Columbia,DC,26,2012-01-01,2335.0,2012,Jan
196990,41568,Washington,Washington,District of Columbia,DC,26,2012-02-01,2341.0,2012,Feb
210121,41568,Washington,Washington,District of Columbia,DC,26,2012-03-01,2349.0,2012,Mar
223252,41568,Washington,Washington,District of Columbia,DC,26,2012-04-01,2360.0,2012,Apr
236383,41568,Washington,Washington,District of Columbia,DC,26,2012-05-01,2372.0,2012,May
249514,41568,Washington,Washington,District of Columbia,DC,26,2012-06-01,2381.0,2012,Jun
262645,41568,Washington,Washington,District of Columbia,DC,26,2012-07-01,2377.0,2012,Jul
275776,41568,Washington,Washington,District of Columbia,DC,26,2012-08-01,2366.0,2012,Aug
288907,41568,Washington,Washington,District of Columbia,DC,26,2012-09-01,2358.0,2012,Sep
302038,41568,Washington,Washington,District of Columbia,DC,26,2012-10-01,2360.0,2012,Oct
315169,41568,Washington,Washington,District of Columbia,DC,26,2012-11-01,2385.0,2012,Nov
328300,41568,Washington,Washington,District of Columbia,DC,26,2012-12-01,2397.0,2012,Dec
341431,41568,Washington,Washington,District of Columbia,DC,26,2013-01-01,2411.0,2013,Jan
354562,41568,Washington,Washington,District of Columbia,DC,26,2013-02-01,2426.0,2013,Feb
367693,41568,Washington,Washington,District of Columbia,DC,26,2013-03-01,2434.0,2013,Mar
380824,41568,Washington,Washington,District of Columbia,DC,26,2013-04-01,2436.0,2013,Apr
...,...,...,...,...,...,...,...,...,...,...
590920,41568,Washington,Washington,District of Columbia,DC,26,2014-08-01,2445.0,2014,Aug
604051,41568,Washington,Washington,District of Columbia,DC,26,2014-09-01,2464.0,2014,Sep
617182,41568,Washington,Washington,District of Columbia,DC,26,2014-10-01,2472.0,2014,Oct
630313,41568,Washington,Washington,District of Columbia,DC,26,2014-11-01,2470.0,2014,Nov
643444,41568,Washington,Washington,District of Columbia,DC,26,2014-12-01,2452.0,2014,Dec
656575,41568,Washington,Washington,District of Columbia,DC,26,2015-01-01,2433.0,2015,Jan
669706,41568,Washington,Washington,District of Columbia,DC,26,2015-02-01,2428.0,2015,Feb
682837,41568,Washington,Washington,District of Columbia,DC,26,2015-03-01,2435.0,2015,Mar
695968,41568,Washington,Washington,District of Columbia,DC,26,2015-04-01,2446.0,2015,Apr
709099,41568,Washington,Washington,District of Columbia,DC,26,2015-05-01,2462.0,2015,May
722230,41568,Washington,Washington,District of Columbia,DC,26,2015-06-01,2477.0,2015,Jun
735361,41568,Washington,Washington,District of Columbia,DC,26,2015-07-01,2494.0,2015,Jul
748492,41568,Washington,Washington,District of Columbia,DC,26,2015-08-01,2504.0,2015,Aug
761623,41568,Washington,Washington,District of Columbia,DC,26,2015-09-01,2508.0,2015,Sep
774754,41568,Washington,Washington,District of Columbia,DC,26,2015-10-01,2512.0,2015,Oct
787885,41568,Washington,Washington,District of Columbia,DC,26,2015-11-01,2527.0,2015,Nov
801016,41568,Washington,Washington,District of Columbia,DC,26,2015-12-01,2534.0,2015,Dec
814147,41568,Washington,Washington,District of Columbia,DC,26,2016-01-01,2535.0,2016,Jan
827278,41568,Washington,Washington,District of Columbia,DC,26,2016-02-01,2535.0,2016,Feb
840409,41568,Washington,Washington,District of Columbia,DC,26,2016-03-01,2536.0,2016,Mar
853540,41568,Washington,Washington,District of Columbia,DC,26,2016-04-01,2539.0,2016,Apr
866671,41568,Washington,Washington,District of Columbia,DC,26,2016-05-01,2553.0,2016,May
879802,41568,Washington,Washington,District of Columbia,DC,26,2016-06-01,2564.0,2016,Jun
892933,41568,Washington,Washington,District of Columbia,DC,26,2016-07-01,2566.0,2016,Jul
906064,41568,Washington,Washington,District of Columbia,DC,26,2016-08-01,2556.0,2016,Aug
919195,41568,Washington,Washington,District of Columbia,DC,26,2016-09-01,2544.0,2016,Sep
932326,41568,Washington,Washington,District of Columbia,DC,26,2016-10-01,2541.0,2016,Oct
945457,41568,Washington,Washington,District of Columbia,DC,26,2016-11-01,2551.0,2016,Nov
958588,41568,Washington,Washington,District of Columbia,DC,26,2016-12-01,2560.0,2016,Dec
971719,41568,Washington,Washington,District of Columbia,DC,26,2017-01-01,2569.0,2017,Jan

In [72]:
zrent.dtypes

City Code            int64
City                object
Metro               object
County              object
State               object
Population Rank      int64
date                object
value              float64
Month               object
Month2              object
year                object
month               object
dtype: object